<!DOCTYPE html>
<html>
<head>
  <title>Bikeapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  
  <div id="main-container" class="container">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Bike Rental</a>
        </div>
        <ul class="nav navbar-nav">
          <li><%= link_to "Home", page_home_path %></li>
          <li><%= link_to "About", page_about_path %></li>
          <li><%= link_to "Bicycles", bicycles_path %></li>
          <li><%= link_to "Contact", page_contact_path %></li>
          <li><%= link_to "Faq", page_faq_path %></li>
          <% if (user_signed_in? and current_user.admin == true) %>
            <li><%= link_to "Booking History", bookings_path %></li>
            <li> <%= link_to "Profile", edit_user_registration_path %></li>
            <li> <%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
          <% elsif user_signed_in? %>
            <li> <%= link_to "Profile", edit_user_registration_path %></li>
            <li> <%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "Sign in", new_user_session_path %></li>
            <li> <%= link_to "Sign up", new_user_registration_path %></li>
          <% end %>
        </ul>
      </div>
    </nav>

    <div class="row">
      <div class="col-sm-12">
        <%= yield %>
      </div>
    </div>
</div>

</body>
</html>
